##Exp 2: Given the weight (in lbs) and foot size (in inches), predict whether the person is a male or female‚Äù using Naive bayes  algorithm

###1818123 Hariprasath S

In [ ]:
import pandas as pd
df = pd.read_csv('gender.csv')
df.drop('Height',axis='columns',inplace=True)
df.head()

   Gender     Weight  Shoe_size
0    Male  176.36960  17.460317
1    Male  154.32340  17.063492
2  Female  132.27720  15.079365
3  Female  119.04948  14.682540
4    Male  143.30030  15.873016

In [ ]:
X = df[['Weight','Shoe_size']]
y = df['Gender']
X.head()

      Weight  Shoe_size
0  176.36960  17.460317
1  154.32340  17.063492
2  132.27720  15.079365
3  119.04948  14.682540
4  143.30030  15.873016

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split (X, y, test_size= 0.3,random_state=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score
print("Accuracy: ",accuracy_score(y_pred,y_test))

Accuracy:  1.0

In [ ]:
weight = 152.118
foot = 17.06
result = model.predict([[weight,foot]])[0]
print("Weight: {}\nFoot size: {}\nGender: {}".format(weight,foot,result))

Weight: 152.118
Foot size: 17.06
Gender: Male