# Ex 3: Decision Tree Classification
### 1818123 Hariprasath s

### Exploring the dataset

In [ ]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

### Data Cleaning

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
df['Sex'] = df['Sex'].map({'male': 1, 'female': 2})
df['Sex'].head()

0    1
1    2
2    2
3    2
4    1
Name: Sex, dtype: int64

### Feature Selection

In [ ]:
feature_cols = ['Pclass', 'Sex', 'Age', 'Fare']
inputs = df[feature_cols]
target = df['Survived']
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

### Training and testing the model

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2,random_state=11)
len(X_train)

712

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

### Visualising the model

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(model, out_file=dot_data, filled=True, rounded=True, special_characters=True,feature_names = feature_cols,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('titanic.png')
Image(graph.create_png())

### Evaluating the model

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_pred, y_test)
print("Accuracy: ", accuracy)

Accuracy:  0.8156424581005587

### Gini index calculation

In [ ]:
male_survived = df.loc[(df['Sex']==1) & (df['Survived']==1)].count()[0]
male_not_survived = df.loc[(df['Sex']==1) & (df['Survived']==0)].count()[0]
female_survived = df.loc[(df['Sex']==2) & (df['Survived']==1)].count()[0]
female_not_survived = df.loc[(df['Sex']==2) & (df['Survived']==0)].count()[0]
total_male = df.loc[df['Sex']==1].count()[0]
total_female = df.loc[df['Sex']==2].count()[0]

male_gini = 1 - pow((male_survived/total_male),2) - pow((male_not_survived/total_male),2)
female_gini = 1 - pow((female_survived/total_female),2) - pow((female_not_survived/total_female),2)

print(male_gini)
print(female_gini)

0.3064437162277842
0.3828350034484158