In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import accuracy_score,log_loss,f1_score
from sklearn.ensemble import VotingClassifier, AdaBoostClassifier

In [ ]:
data = pd.read_csv('data.csv')
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
data.drop(['id','Unnamed: 32'],axis = 1, inplace = True)
data.head()

In [ ]:
data['diagnosis'] = data['diagnosis'].apply(lambda x: 0 if x=='B' else 1)

In [ ]:
X = data.iloc[:,1:]
y = data.iloc[:,0]

In [ ]:
scaler = MinMaxScaler(feature_range=(0, 1))
normalizedData = scaler.fit_transform(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(normalizedData,y,test_size=2/5,random_state=42)

In [ ]:
voting_clf = VotingClassifier(estimators=[('SVC', SVC_clf), ('DTree', DTree_clf), ('LogReg', LogReg_clf)], voting='hard')
voting_clf.fit(X_train, y_train)
y_pred = voting_clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
l_loss = log_loss(y_test, y_pred)

print("Accuracy is: " + str(acc))
print("Log Loss is: " + str(l_loss))
print("F1 Score is: " + str(f1))

Accuracy is: 0.9736842105263158
Log Loss is: 0.9089221822996696
F1 Score is: 0.9620253164556962

In [ ]:
k_folds = KFold(n_splits=10, random_state=None)
ada_boost = AdaBoostClassifier(n_estimators=10, random_state=12)
results = cross_val_score(ada_boost, X_train, y_train, cv=k_folds)
print(results.mean())

0.9530252100840336